MEMORY {
	SIDE1A:  start = $0000, size = 65500, type = rw, file = %O, fill = yes, fillval = 0;
	CHK0:    start = $2800, size = $00e0, type = rw, file = "";
	IPL1:    start = $0300, size = $0040, type = rw, file = "";
	CHR2:    start = $0000, size = $2000, type = rw, file = "";
	PRG3:    start = $8000, size = $6000, type = rw, file = "";
}

SEGMENTS {
	SIDE1A:    load = SIDE1A, type = ro;
	
	FILE0_HDR: load = SIDE1A, type = ro;
	FILE0_DAT: load = SIDE1A, run = CHK0, define = yes;
	
	FILE1_HDR: load = SIDE1A, type = ro;
	FILE1_DAT: load = SIDE1A, run = IPL1, define = yes;
	
	FILE2_HDR: load = SIDE1A, type = ro;
	FILE2_DAT: load = SIDE1A, run = CHR2, type = ro, define = yes;
	
	FILE3_HDR: load = SIDE1A, type = ro;
	FILE3_DAT: load = SIDE1A, run = PRG3, type = ro, define = yes;
	
	
	PATCH_0: load = SIDE1A, start = $219e+$06a4, type = overwrite;
	PATCH_1: load = SIDE1A, start = $219e+$17d8, type = overwrite;
	PATCH_2: load = SIDE1A, start = $219e+$2dc9, type = overwrite;

	PATCH_3: load = SIDE1A, start = $219e+$21be, type = overwrite;
	PATCH_4: load = SIDE1A, start = $219e+$21cb, type = overwrite;
	PATCH_5: load = SIDE1A, start = $219e+$220c, type = overwrite;

	PATCH_6: load = SIDE1A, start = $219e+$4f8a, type = overwrite;

	TOKEN_PATCH0:	load = SIDE1A, start = $219e+$13e7, type = overwrite;
	TOKEN_PATCH1:	load = SIDE1A, start = $219e+$13eb, type = overwrite;
	TOKEN_PATCH2:	load = SIDE1A, start = $219e+$14e1, type = overwrite;
	TOKEN_PATCH3:	load = SIDE1A, start = $219e+$14e5, type = overwrite;

	FUNCADDR_PATCH4:	load = SIDE1A, start = $219e+$0433, type = overwrite;
	FUNCADDR_PATCH5:	load = SIDE1A, start = $219e+$0438, type = overwrite;
	FUNCADDR_PATCH6:	load = SIDE1A, start = $219e+$1b39, type = overwrite;
	FUNCADDR_PATCH7:	load = SIDE1A, start = $219e+$1b3e, type = overwrite;

	RESET_PATCH:	load = SIDE1A, start = $219e+$00d4, type = overwrite;
	#GAME_PATCH:		load = SIDE1A, start = $219e+$2d58, type = overwrite;
	FDS_PATCH:		load = SIDE1A, start = $219e+$5000, type = overwrite;

	
	VECTORS_PATCH: load = SIDE1A, start = $219e+$5ff0, type = overwrite;
}
